* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #f7f7f7;
}

.main {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, rgba(19, 176, 223, 0.26) 0%, rgba(19, 176, 223, 0.26) 23%,rgba(16, 160, 197, 0.26) 23%, rgba(16, 160, 197, 0.26) 65%,rgba(13, 144, 172, 0.26) 65%, rgba(13, 144, 172, 0.26) 70%,rgba(9, 129, 146, 0.26) 70%, rgba(9, 129, 146, 0.26) 74%,rgba(6, 113, 121, 0.26) 74%, rgba(6, 113, 121, 0.26) 90%,rgba(3, 97, 95, 0.26) 90%, rgba(3, 97, 95, 0.26) 100%),linear-gradient(45deg, rgba(65, 234, 230, 0.26) 0%, rgba(65, 234, 230, 0.26) 28%,rgba(88, 192, 215, 0.26) 28%, rgba(88, 192, 215, 0.26) 55%,rgba(110, 150, 201, 0.26) 55%, rgba(110, 150, 201, 0.26) 66%,rgba(133, 107, 186, 0.26) 66%, rgba(133, 107, 186, 0.26) 80%,rgba(155, 65, 172, 0.26) 80%, rgba(155, 65, 172, 0.26) 85%,rgba(178, 23, 157, 0.26) 85%, rgba(178, 23, 157, 0.26) 100%),linear-gradient(90deg, rgb(27, 194, 246) 0%, rgb(27, 194, 246) 6%,rgb(39, 174, 237) 6%, rgb(39, 174, 237) 32%,rgb(50, 155, 229) 32%, rgb(50, 155, 229) 40%,rgb(62, 135, 220) 40%, rgb(62, 135, 220) 66%,rgb(74, 116, 211) 66%, rgb(74, 116, 211) 72%,rgb(86, 96, 202) 72%, rgb(86, 96, 202) 86%,rgb(97, 77, 194) 86%, rgb(97, 77, 194) 96%,rgb(109, 57, 185) 96%, rgb(109, 57, 185) 100%);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e6e6e6;
    border-radius: 5px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
    max-width: 90%;
    width: 480px;
}

.top-container {
    background-color: #0084ff;
    padding: 20px;
    text-align: center;
    color: #fff;
    border-radius: 5px 5px 0 0;
}

.name {
    font-size: 1.3rem;
    font-weight: 700;
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
}

.input-container,
.task-container {
    margin: 10px;
}

.input-container::after,
.task-container::after {
    content: "";
    display: table;
    clear: both;
}

.input-container #task-input {
    padding: 5px 10px;
    width: 75%;
    font-size: 1.1rem;
    height: 35px;
    color: #696969;
    background-color: #f7f7f7;
    border: 1px solid rgb(233, 233, 233);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    float: left;
    outline: none;
}

#task-input:focus {
    color: #0f0f0f;
    border: 1px solid #0084ff;
}

.input-container #add-btn {
    width: 25%;
    height: 35px;
    float: left;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    color: #f7f7f7;
    background-color: #0084ff;
    cursor: pointer;
    outline: none;
    border: 0;
}

.input-container #add-btn:hover {
    background-color: #0077e6;
}

.task-container ul li {
    padding: 10px 0 10px 10px;
    font-size: 1rem;
    float: left;
    width: 100%;
    border-radius: 5px;
    background-color: #EC407A;
    margin: 1px 0;
}

.task-container ul li:nth-child(2n) {
    background-color: #E91E63;
}

.task-container ul li:hover {
    background-color: #D81B60;
}

.task-container ul li .icon {
    float: right;
    width: 10%;
    text-align: center;
    border-left: 1px solid #fff;
}

.completed {
    text-decoration: line-through;
}


.tasks {
    list-style: none;
    cursor: pointer;
}
